#rendered-logo-wrapper
  a#rendered-logo(href="/")
    .eat.e E 
    .eat.a A
    .eat.t T
    .ing.i I
    .ing.n N
    .ing.g G
    .the.t T
    .the.h H
    .the.e E
    .dot.block
    .com.c C
    .com.o O
    .com.m M

#social-links-wrapper
  #social-links
    a.social-link.row2.col1.block(href="mailto:jeremy@superplussed.com")
      i.fa.fa-envelope

    a.social-link.row3.col1.block(href="https://github.com/superplussed")
      i.fa.fa-github-alt

    a.social-link.row3.col2.block(href="https://twitter.com/eat_the_dot_com")
      i.fa.fa-twitter

nav.right
  | The
  a(
    ng-class="{active: state.includes('work')}",
    ui-sref="work"
  ) Work
  | and
  a(
    ng-class="{active: state.includes('blog')}",
    ui-sref="blog"
  ) Blog
  | of
  a(
    ng-class="{active: state.includes('about')}",
    ui-sref="about"
  ) Jeremy Smith
