nav(ng-show="!state.is('main')")
  a.prev(ng-href="#/{{siteCollection.prevProject()}}") Previous Project
  a.next(ng-href="#/{{siteCollection.nextProject()}}") Next Project

div(ng-if="state.is('main')")
  fluid-grid#main-grid
    fluid-block(
      aspect-ratio="0.67",
      ng-repeat="site in siteCollection.list"
    )
      a(
        ng-href="#/{{site.nameUnderscore}}",
        thumbnail="/images/{{site.nameUnderscore}}_primary.png",
        thumbnail-bg="true",
        overlay="true"
      )
        .info
          .site-name {{site.name}}
          .role {{site.role}}
          .date-range {{site.dateRange}}


section(ui-view="")