nav(ng-show="!state.is('work')")
  a.prev(href="/{{siteCollection.prevProject()}}") Previous Project
  a.next(href="/{{siteCollection.nextProject()}}") Next Project

.content(ng-if="state.is('work')")
  fluid-grid
    fluid-block(
      aspect-ratio="0.67",
      ng-repeat="site in siteCollection.list"
    )
      a(
        ui-sref="work.site({site_id: site.nameUnderscore})",
        thumbnail="{src: '/images/primary_{{site.nameUnderscore}}.png'}",
        overlay="true"
      )
        .info
          .site-name {{site.name}}
          .role {{site.role}}
          .date-range {{site.dateRange}}


section(ui-view="")