fluid-block
  a( 
    rel="Robusto", 
    fancybox="/images/robusto_parser.png",
    thumbnail="/images/robusto_parser.png"
  )
  figcaption
    .title A sampling of code from the hand history parser.
    .description
      :markdown
        This was extracted and open-sourced as a gem called "Parsley". [Github link](https://github.com/superplussed/parsley)

fluid-block
  a(
    rel="Robusto", 
    fancybox="/images/robusto_1_1000w.png",
    thumbnail="/images/robusto_1_1000w.png"
  )
  figcaption
    .title The hand-filter view.
    .description Hands could be filtered by a number of criteria, such as player name, booleans on stat fields and date ranges.

fluid-block
  a(
    rel="Robusto", 
    fancybox="/images/robusto_2_1000w.png",
    thumbnail="/images/robusto_2_1000w.png"
  )
  figcaption
    .title The data visualization view.
    .description Several graphing options were offered, including building a date filter widget that doubled as a histogram of resutls.