!!! 5
| <!--[if lt IE 7]> <html class="lt-ie7" lang="en"> <![endif]-->
| <!--[if IE 7]> <html class="ie7" lang="en"> <![endif]-->
| <!--[if IE 8]> <html class="ie8" lang="en"> <![endif]-->
| <!--[if gt IE 8]> <!--> <html lang="en"> <!--<![endif]-->

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

  title EATING THE .COM

  meta(name='description', content='')
  meta(name='viewport', content='width=device-width')
  link(href="favicon.ico", rel="shortcut icon", type="image/x-icon")

  - each cssFile in cssFiles
    link(rel='stylesheet', href='#{cssFile}.css')

body(
  ng-app='App', 
  ng-controller='AppCtrl',
  ng-class="{'flash-protect': !offlineMode}"
)

  #app
    header(ng-include="'/templates/header.html'")
    main(ui-view="")

  - each jsFile in jsFiles
    script(src='#{jsFile}.js')

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45180104-1', 'eatingthe.com');
    ga('send', 'pageview');