fluid-block
  a(
    rel='3rd Ward', 
    fancybox="true",
    thumbnail="/images/3w-home.png"
  )
  figcaption
    .title A slice of the home page.

fluid-block
  a(
    rel='3rd Ward', 
    fancybox="true",
    thumbnail="/images/3rd_ward_2_500w.png"
  )
  figcaption
    .title A course page.
    .description Offers the ability to switch to other date and times dynamically from the sidebar.

fluid-block
  a(
    rel='3rd Ward', 
    fancybox="true",
    thumbnail="/images/3w-cart.png"
  )
  figcaption
    .title The shopping cart
    .description Offered detailed breakdowns on cart totals, since we offered a wide array of discounting and memberships.

fluid-block
  a(
    rel='3rd Ward', 
    fancybox="true",
    thumbnail="/images/3w-calendar.png"
  )
  figcaption
    .title Admin scheduling tool.
    .description Used for scheduling classes, and having an overview over student activies within each class.


fluid-block
  a(
    rel='3rd Ward', 
    fancybox="true",
    thumbnail="/images/3w-class-link.png"
  )  
  figcaption
    .title A link to a course.


