fluid-block
  a(
    thumbnail="{zoom: true, addToDom: true, src: '/images/3w-home.jpg'}"
  )
  figcaption
    h5 A slice of the home page.

fluid-block
  a(
    thumbnail="{zoom: true, addToDom: true, src: '/images/3w-class-page.jpg'}"
  )
  figcaption
    h5 A course page.
    p Offers the ability to switch to other date and times dynamically from the sidebar.

fluid-block
  a(
    thumbnail="{zoom: true, addToDom: true, src: '/images/3w-cart.png'}"
  )
  figcaption
    h5 The shopping cart
    p Offered detailed breakdowns on cart totals, since we offered a wide array of discounting and memberships.

fluid-block
  a(
    thumbnail="{zoom: true, addToDom: true, src: '/images/3w-calendar.png'}"
  )
  figcaption
    h5 Admin scheduling tool.
    p Used for scheduling classes, and having an overview over student activies within each class.


fluid-block
  a(
    thumbnail="{zoom: true, addToDom: true, src: '/images/3w-class-link.jpg'}"
  )  
  figcaption
    h5 A link to a course.


